{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
    all: unset;
    display: inline; 
    cursor: pointer; 
}
html {
    width: 100%;
}
body {
    width: 1280px;
    height: 908px;
    background-image: url(./images/start-screen-background.png);
    background-repeat: no-repeat;
    background-size: 100% 908px;
    margin: 0 auto;
}
.wrapper {
    padding-left: 40px;
    padding-right: 40px;
}
.header {
    width: 100%;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 60px;
    padding-top: 30px;
    padding-bottom: 90px;
}
ul {
    list-style-type: none;
}
.nav-content {
    width: 443px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-item {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #CDCDCD;
}
.nav-item:hover {
    cursor: pointer;
    color:#FFFFFF;
    text-decoration: underline;
}
.title {
    width: 184px;
    height: 35px;
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    color: #F1CDB3;
}
.subtitle {
    width: 179px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 14.95px;
    color: #FFFFFF;
    margin-top: 10px;
    padding-left: 4px;
}
.start-screen {
    display: flex;
    justify-content: space-between;
}
.start-screen-content {
    width: 460px;
    padding-top: 163px;
}
.start-screen-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 57.2px;
    color: #FFFFFF;
}
.start-screen-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #CDCDCD;
    margin-top: 42px;
}
.button-secondary {
    border: 2px solid #F1CDB3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    width: 187px;
}
.btn {
    height: 52px;
    font-size: 17px;
    color: #292929;
    font-weight: 400;
    line-height: 22.1px;
    border-radius: 100px;
    border: none;
}
.footer-contacts, .footer-location {
        padding-top: 56px;
}
.footer-location {
        width: 302px;
}
.footer-contacts {
        width: 278px;
}
.contacts {
        display: flex;
        justify-content: space-around;
}
.contact-title {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 35px;
        font-weight: 400;
        line-height: 46px;
        color: #FFFFFF;
}
.mail-adress {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        color: #F1CDB3;
        margin: 40px 0;
}
.mail-icon {
        height: 32px;
        width: 40px;
        margin-right: 20px;
}
.phone-icon {
        height: 32px;
        width: 40px;
        margin-right: 20px;
}
.phone-number {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        color: #F1CDB3;
}
.location-title {
        color: #FFFFFF;
}
.location-icon {
        height: 32px;
        width: 22px;
        margin-right: 20px;
}
.location-boston {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        color: #F1CDB3;
        margin-top: 34px;
}
.location-london {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        color: #F1CDB3;
        margin-top: 32px;
}
.footer-puppy-photo {
        width: 300px;
        height: 310px;
        align-self: flex-end;
}
.contacts {
        height: 350px;
        background-image: url(./images/footer-gradient-background.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
}
.footer-puppy {
        display: flex;
}
.location-boston, .location-london, .mail-adress, .phone-number {
        display: flex;
        align-content: center;
}
.location-boston:hover, .location-london:hover, .mail-adress:hover, .phone-number:hover {
        cursor: pointer;
        color: white;
}